<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Qual combustível?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">
        Etanol
      </ion-label>
      <ion-input type="number" [(ngModel)]="etanolPreco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Gasolina
      </ion-label>
      <ion-input type="number" [(ngModel)]="gasolinaPreco"></ion-input>
    </ion-item>
    <div>
      <ion-button color="primary" size="block" (click)=verificar()>
        verificar
      </ion-button>
    </div>
    <div>
      {{ resposta }}
    </div>
  </div>
</ion-content>
